.DS_Store
node_modules
npm-debug.log*
yarn.lock
yarn-error.log
lerna-debug.log
build
*.iml
.idea
target
*.swp
.flattened-pom.xml
.DS_Store
*.vscode
yarn.lock
node_modules
*.swo
.classpath
.factorypath
.project
.settings
.sts4-cache
